{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %} 
<style>
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .profile-heading{
    padding-top:20px;
    padding-bottom: 20px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
  }

  .profile-img{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 450px;
  }
  
  .profile img {
    width: 250px;
    height: 250px;
    border-radius: 60px;
    margin-bottom: 20px;
  }
  
  .profile-info {
    text-align: left;
    margin-left: 250px;
  }
  
  
  
  .profile-heading h1{
    font-size: 100px;
  }
  
  
  
  .profile-info h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .edit-button{
    margin-top:30px;
    margin-right: 40px;
  }
  
  .profile a {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
  }  
  
</style>
{% endblock %}


{% block mybody %}
    
<div class="container  ">
  <div class="profile">
    <div class="container profile-heading">
      <h1 style='color:#0750bd;'>Profile</h1>
    </div>
    <div class="container profile-img">
      <img src="{{ user.profile.picture.url }}" alt="Profile Picture">
      <div class="profile-info">
        <h1 style="color:black;">{{ user.first_name }}{{user.last_name }}</h1>
        <br><br>
        <p>Age: {{ user.profile.age }}</p>
        <p>Gender: {{ user.profile.gender }}</p>
        <p>Address: {{ user.profile.address }}</p>
        <p>Phone Number: {{ user.profile.phone }}</p>
        <p>Email: {{ user.email }}</p>
      </div>
    </div>
    <div class="container edit-button ">
      <a href="{% url 'edit_profile' %}" class="btn" style="color: white; background-color: #5c00e6;"type="submit" id="header-links">Edit Profile</a>
    </div>
  </div>
</div>
{% endblock %}