{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %} 
<style>
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-info {
    text-align: center;
  }
  
  .profile-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    margin-bottom: 5px;
  }
  
  .profile a {
    margin-top: 20px;
  }    
</style>
{% endblock %}


{% block mybody %}
    
    <div class="container text-center">
        <br><br><br>
        <div class="profile">
            <h1>Profile</h1>
            <img src="{{ user.profile.picture.url }}" alt="Profile Picture">
            <div class="profile-info">
              <h2>{{ user.first_name }}{{user.last_name }}</h2>
              <p>Age: {{ user.profile.age }}</p>
              <p>Gender: {{ user.profile.gender }}</p>
              <p>Address: {{ user.profile.address }}</p>
              <p>Phone Number: {{ user.profile.phone }}</p>
              <p>Email: {{ user.email }}</p>
            </div>
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
          </div>
    </div>
{% endblock %}